@charset "UTF-8";

/* ページ全体のスタイル
--------------------------------------------------- */
/* デフォルトのサイズを10pxに指定 */
html {
    font-size: 62.5%;
    scroll-behavior: smooth; /* スムーズスクロール */
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.2;
    color: #333333;
}

* {
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

/* 部品
--------------------------------------------------- */

/* ヘッダー
--------------------------------------------------- */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.05rem 0 .95rem;
    background-color:#ffffff;
    z-index: 100;
}
@media (min-width: 768px) {
    .header {
        padding: 1.8rem 1.2rem 2rem;
    }
}

.header__container {
    display: flex;
    justify-content: space-between;
    margin: 0 .9rem 0 1.2rem;
}
@media (min-width: 768px) {
    .header__container {
        width: 100%;
        max-width: 102.4rem;
        margin: 0 auto;
    }
}

.header__logo {
    width: 7.2rem
}
@media (min-width: 768px) {
    .header__logo {
        width: 9.7rem;
    }
}

.header__btn-container {
    display: flex;
    justify-content: space-between;
    width: 29.1rem;
    padding-top: .35rem;
}
@media (min-width: 768px) {
    .header__btn-container {
        width: 50.5rem;
        padding-top: .3rem;
    }
}

.header__btn-contact,
.header__btn-reservation {
    font-size: 1.2rem;
    font-weight: 400;
    color: #ffffff;
    width: 10.7rem;
    height: 3.1rem;
    border-radius: 1.55rem;
    background: #fa7da3;
    padding-top: .8rem;
    padding-left: 1.1rem;
    letter-spacing: .6px;
}
@media (min-width: 768px) {
    .header__btn-contact,
    .header__btn-reservation {
        font-size: 2.15rem;
        width: 18.9rem;
        height: 5.05rem;
        border-radius: 2.52rem;
        padding-top: 1.1rem;
        padding-left: 2.5rem;
        letter-spacing: -.6px;
    }
}

.header__btn-reservation {
    width: 17.4rem;
    background: #49c43d;
}
@media (min-width: 768px) {
    .header__btn-reservation {
        width: 29.5rem;
        padding-top: 1rem;
        padding-left: 2.3rem;
    }
}

.header__btn-reservation-free {
    font-size: 1rem;
    letter-spacing: .4px;
}
@media (min-width: 768px) {
    .header__btn-reservation-free {
        font-size: 1.8rem;
    }

    .header__chevron-right {
        font-size: 2rem;
    }

    .header__btn-contact .header__chevron-right{
        padding-left: .6rem;
    }
}


/* Main Visual
--------------------------------------------------- */
.main-visual {
    position: relative;
    background: #fa7da3;
    height: 31.4rem;
    overflow: hidden;
    margin-top: 6rem;
}
@media (min-width: 768px) {
    .main-visual{
        padding: 0 0 5.45rem 3.4rem;
        height: auto;
        margin-top: 9.2rem;
    }

}

.main-visual__container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-left: 1.2rem;
}
@media (min-width: 768px) {
    .main-visual__container {
        max-width: 100rem;
        padding: 0 1.5rem;
        margin: 0 auto;
    }
}

.main-visual__content-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.5rem;
    max-width: 48%;
}
.main-visual__title-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-visual__title {
    font-size: 4.2rem;
    font-weight: 400;
    color: #ffffff;
}
.main-visual__subtitle {
    font-size: 1.8rem;
    margin-top: .3rem;
    padding-left: .2rem;
    color: #ffffff;
}
.main-visual__image{
    width: 21rem;
    margin-top: .7rem;
    margin-right: -1.2rem;
}
@media (min-width: 768px) {
    .main-visual__content-left {
        position: relative;
        align-items: flex-end;
        padding-top: 0rem;
        max-width: 51%;
    }
    .main-visual__title-content{
        align-items: flex-end;
        padding-top: .95rem;
        margin-right: .6rem;
        z-index: 10;
    }
    .main-visual__title {
        font-size: 12.2rem;
    }
    .main-visual__subtitle {
        font-size: 3.6rem;
        padding-left: 0;
        margin-right: -3.2rem;
    }
    .main-visual__image{
        position:absolute;
        width: 48.6rem;
        left: -4.6rem;
        bottom: -15.7rem;
    }
}

.main-visual__content-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 10;
}
@media (min-width: 768px) {
    .main-visual__content-right {
        margin-right: 1.7rem;
    }
}

.main-visual__first-point{
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    padding-right: 2.15rem;
    padding-bottom: 1.35rem;
}
@media (min-width: 768px) {
    .main-visual__first-point{
        flex-wrap: wrap;
        padding-left: 6.2rem;
        padding-bottom: 2.3rem;
    }
}
.main-visual__first-point-left-container {
    display: flex;
    flex-direction: column;
    max-width: 18.8rem;
    margin: 2.5rem .95rem 0 2.6rem;
}
@media (min-width: 768px) {
    .main-visual__first-point-left-container {
        max-width: 42.3rem;
        margin: 4.4rem 2rem 0 0;
    }
}

.main-visual__first-point-text1 {
    font-size: 1.3rem;
    color: #fa7da3;
    background-color: #ffffff;
    padding: .25rem 0 .5rem .5rem;
    margin-right: .2rem;
}
.main-visual__first-point-text2 {
    font-size: 2.4rem;
    color: #ffffff;
    padding: .5rem 0 0 .1rem;
}
@media (min-width: 768px) {
    .main-visual__first-point-text1 {
        font-size: 2.92rem;
        padding: .7rem 0 .95rem 1rem;
        margin-right: .6rem;
        margin-left: -.4rem;
    }
    .main-visual__first-point-text2 {
        font-size: 5.4rem;
        margin-top: 1.5rem;
        padding: 0;
    }
}


.main-visual__first-point-text3,
.main-visual__first-point-text3-yen {
    font-size: 7.6rem;
    font-weight: 700;
    color: #fffd7a;
    margin-top: .2rem;
}
.main-visual__first-point-text3-yen {
    font-size: 3.6rem;
}
@media (min-width:768px){
    .main-visual__first-point-text3 {
        font-size: 17.1rem;
        margin-top: -.6rem;
        margin-right: 3rem;
    }
    .main-visual__first-point-text3-yen {
        font-size: 8.1rem;
    }
}

.main-visual__monthly-fee{
    font-family: 'Outfit', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    color: #ffffff;
    margin: .75rem 2.55rem 0 0;
}
.main-visual__monthly-fee-yen{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: .9rem;
    font-weight: 400;
    color: #ffffff;
}
@media (min-width:768px){
    .main-visual__monthly-fee{
        font-size: 2.65rem;
        margin: .7rem 6.3rem 0 0;
    }
    .main-visual__monthly-fee-yen{
        font-size: 1.7rem;
    }
}

.main-visual__second-point{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin: 2.4rem 2.6rem 0 0;
}
.main-visual__second-point-text{
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    color: #ffffff;
    border: .1rem solid #ffffff;
    width: 13.3rem;
    height: 3.5rem;
    padding-top: .45rem;
}
@media (min-width:768px){
    .main-visual__second-point{
        gap: 2rem;
        margin: 4.9rem 0 0 0;
        width: 100%;
    }
    .main-visual__second-point-text{
        font-size: 2.8rem;
        max-width: 42.3rem;
        width: 100%;
        height: auto;
        padding: 1.55rem 0 1.8rem;
    }
    .main-visual__second-point-text:nth-of-type(3){
        letter-spacing: -1.5px;
    }
}

/* プレゼント
--------------------------------------------------- */
.present {
    background: #fffedd;
    padding: 2.2rem 0 1.6rem;
}
@media (min-width: 768px) {
    .present {
        padding: 4.4rem 0 2.5rem;
    }
}

.present__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100rem;
    margin: 0 auto;
    padding: 0 2rem;
}

.present__now {
    position: relative;
    font-size: 2.1rem;
    font-weight: 400;
    color: #fa7da3;
    margin-bottom: .6rem;
}
.present__now::before {
    background-color: #fa7da3;
    position: absolute;
    right: 7.05rem;
    bottom: 1.1rem;
    width: 2.7rem;
    height: .2rem;
    content: "";
    transform: rotate(60deg);
}
.present__now::after {
    background-color: #fa7da3;
    position: absolute;
    left: 7.25rem;
    bottom: 1.1rem;
    width: 2.7rem;
    height: 0.2rem;
    content: "";
    transform: rotate(120deg);
}
.present__pc-space {
    display: none;
}
@media (min-width: 768px) {
    .present__now {
        font-size: 3.4rem;
        margin-left: .6rem;
        margin-bottom: 1.4rem;
        letter-spacing: 1px;
    }
    .present__now::before,
    .present__now::after {
        width: 4.5rem;
        height: .35rem;
        bottom: 1.7rem;
    }
    .present__now::before {
        right: 12.4rem;
    }
    .present__now::after {
        left: 12.3rem;
    }
    .present__pc-space {
        display: inline;
    }
}

.present__inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: #fa7da3 solid 0.1rem;
    border-radius: 1rem;
    margin: .75rem 0 0 .2rem;
    overflow: hidden;
    max-width: 55rem;
}
@media (min-width: 768px) {
    .present__inner-container {
        width: 100%;
        margin-left: .4rem;
    }
}
.present__corse {
    display:flex;
    justify-content: center;
    font-size: 2.1rem;
    font-weight: 400;
    color: #ffffff;
    background-color: #fa7da3;
    width: 100%;
    padding-bottom: .6rem;
}
@media (min-width: 768px) {
    .present__corse {
        font-size: 3.2rem;
        padding-bottom: .75rem;
        padding-right: .8rem;
    }
}
.present__text {
    display:flex;
    justify-content: center;
    font-size: 2.7rem;
    font-weight: 400;
    background-color: #ffffff;
    color: #fa7da3;
    width: 100%;
    padding: 1.8rem 0 .7rem 1.1rem;
}
.present__text-no {
    font-size: 4.2rem;
    font-weight: 600;
    margin-top: -1.5rem;
}
@media (min-width: 768px) {
    .present__text {
        font-size: 4.35rem;
        padding: 2.9rem 0 1.45rem 1.7rem;
    }
    .present__text-no {
        font-size: 6.8rem;
        margin-top: -2.5rem;
    }
}

.present__corse-contents {
    font-size: 1rem;
    color: #333333;
    margin-top: .85rem;
    margin-right: .1rem;
    text-align: center;
}
@media (min-width: 768px) {
    .present__corse-contents {
        font-size: 1.4rem;
        margin-top: 1.8rem;
    }
}

/* 予約
--------------------------------------------------- */
.reservation {
    padding: 1.65rem 0 0;
}
@media (min-width: 768px) {
    .reservation {
        padding: 5.8rem 0 2.5rem;
    }
}

.reservation__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100rem;
    margin: 0 auto;
    padding: 0 2rem;
}

.reservation__title {
    position: relative;
    font-size: 2.1rem;
    font-weight: 600;
    color: #fa7da3;
    margin-bottom: 1.15rem;
    letter-spacing: .2rem;
    margin-right: 1.2rem;
}
.reservation__title::after {
    position: absolute;
    left: 16.8rem;
    bottom: 0;
    content: "!";
}
@media (min-width: 768px) {
    .reservation__title {
        font-size: 3.4rem;
        margin-right: 2.2rem;
        margin-bottom: 1.86rem;
        letter-spacing: .34rem;
    }
    .reservation__title::after {
        left: 27.4rem;
        bottom: 0;
    }
}
.reservation__btn {
    position:relative;
    font-size: 2.1rem;
    font-weight: 700;
    color: #ffffff;
    background-color: #49c43d;
    width: 100%;
    padding: 1.2rem 7.1rem;
    border-radius: 4rem;
    text-align: center;
    height: 8rem;
    letter-spacing: .2rem;
    line-height: 1.3;
    max-width: 55rem;
}

.reservation__btn::after {
    position: absolute;
    content: "\f054";
    font-family: "Font Awesome 6 Free";
    bottom: 2.7rem;
    right: 3.1rem;
}

@media (min-width: 768px) {
    .reservation__btn {
        font-size: 3.4rem;
        padding: 2rem 9.5rem;
        height: 13rem;
        border-radius: 6.5rem;
        letter-spacing: .34rem;
        max-width: 57rem;
        margin-left: .3rem;
    }
    .reservation__btn::after {
        bottom: 4.2rem;
        right: 4.9rem;
    }

    .reservation__btn:hover {
        background-color: #40e02f;
    }
}

.reservation--bottom{
    padding-top: 2.8rem;
}
@media (min-width: 768px) {
    .reservation--bottom {
        padding-top: 5.5rem;
        padding-bottom: 2.35rem;
    }
}

/* 無料体験
--------------------------------------------------- */
.free-trial{
    padding: 3rem 0 3.9rem;
}
@media (min-width: 768px) {
    .free-trial {
        padding: 2.1rem 0 5.9rem;
    }
}

.free-trial__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
}

.free-trial__title {
    display: flex;
    justify-content: center;
    font-size: 1.7rem;
    font-weight: 600;
    color: #50bfff;
    margin-bottom: 1.15rem;
    letter-spacing: .2rem;
    border-top: #50bfff solid .1rem;
    border-bottom: #50bfff solid .1rem;
    width: 100%;
    max-width: 57rem;
    padding: .93rem 0;
}
@media (min-width: 768px) {
    .free-trial__title {
        font-size: 2.8rem;
        padding: 1.3rem 0 1.55rem;
        margin-left: .3rem;
        margin-bottom: 1.8rem;
        letter-spacing: .3rem;
        border-top-width: .3rem;
        border-bottom-width: .3rem;
    }
}

.free-trial__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .7rem;
    padding-top: .2rem;
    margin-left: -.3rem;
    color: #333333;
    letter-spacing: -.01rem;
}
.free-trial__trial {
    font-size: 1.4rem;
    font-weight: 400;
}
.free-trial__small-text {
    font-size: 1.1rem;
}
@media (min-width: 768px) {
    .free-trial__content {
        gap: 1.2rem;
        margin-left: -1.6rem;
    }
    .free-trial__trial {
        font-size: 2.3rem;
    }
    .free-trial__small-text {
        font-size: 1.8rem;
    }
    .free-trial__trial:last-child{
        letter-spacing: -.03rem;
    }
}

/* ポイント
--------------------------------------------------- */
.point{
    background-color: #fdf0f5;
    width: 100%;
    padding: 3.55rem 0 2.9rem;
    margin-bottom: 1.15rem;
}
@media (min-width: 768px) {
    .point {
        padding-top: 5.2rem;
        padding-bottom: 6.1rem;
        margin-bottom: -.2rem;
    }
}

.point__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 55rem;
    margin: 0 auto;
    padding: 0 2rem;
}
@media (min-width: 768px) {
    .point__container {
        max-width: 82rem;
    }
}

.point__title {
    font-size: 1.8rem;
    font-weight: 500;
}

.point__reason {
    display: flex;
    align-items: center;
    white-space: nowrap;
    letter-spacing: .05rem;
}

.point__reason-image{
    padding: .4rem .4rem 0 .3rem;
    vertical-align: middle;
}
@media (min-width: 768px) {
    .point__reason-image {
        width: 26.4rem;
        height: 2.1rem;
        padding: 0;
        margin-right: .4rem;
    }
}

.point__three {
    position: relative;
    font-size: 3.2rem;
    font-weight: 700;
    color: #fa7da3;
    margin-top: 1.3rem;
    padding-left: 4rem;
    letter-spacing: .14rem;
}

.point__three::before {
    position: absolute;
    content: url('/assets/image/Shape2918_1.png');
    left: .1rem;
    top: -.3rem;
}
.point__three::after {
    position: absolute;
    content: url('/assets/image/Shape2918_1.png');
    transform: scaleX(-1);
    right: .25rem;
    top: -.3rem;
}
@media (min-width: 768px) {
    .point__three {
        font-size: 4.2rem;
        padding-left: 4.4rem;
        margin-top: 1.9rem;
        letter-spacing: 0px;
    }
    .point__three::before,
    .point__three::after {
        content: url('/assets/image/Shape2918_1_pc.png');
    }

    .point__three::before {
        left: -1.5rem;
        top: -.5rem;
    }
    .point__three::after {
        right: -1.5rem;
        top: -.5rem;
    }
}

.point__point-one,
.point__point-two,
.point__point-three {
    width: 100%;
    border: #fa7da3 solid 0.1rem;
    border-radius: 1rem;
    overflow: hidden;
    margin-top: 2.7rem;
    margin-left: .1rem;
}
.point__point-two{
    margin-top: 3.3rem;
}
@media(min-width:768px){
    .point__point-two {
        margin-top: 4.95rem;
    }
}
.point__point-three{
    margin-top: 3rem;
}
@media(min-width:768px){
    .point__point-three {
        margin-top: 4.95rem;
    }
}

@media (min-width: 768px) {
    .point__point-one {
        margin-top: 5.25rem;
    }
}

.point__item-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: 400;
    color: #ffffff;
    background-color: #fa7da3;
    width: 100%;
    padding: 1.1rem 0 1.25rem;
}
@media(min-width: 768px) {
    .point__item-title {
        font-size: 2.8rem;
        padding: 2rem .3rem 2rem 0;
    }

    .point__point-two .point__item-title {
        padding: 1.7rem .3rem 2.25rem;
    }
    .point__point-three .point__item-title {
        padding: 1.7rem 0 2.25rem;
    }
}


.point__item-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.4rem 1.8rem 0 2rem;
    letter-spacing: -.05rem;
    line-height: 1.5;
    background-color: #ffffff;
}
@media (min-width: 768px) {
    .point__item-content {
        align-items: flex-start;
        padding-top: 2.4rem;
    }
}

.point__point-three .point__item-content{
    letter-spacing: 0;
    padding-bottom: 1.8rem;
}
@media (min-width: 768px) {
    .point__point-three .point__item-content {
        padding-top: 2.5rem;
        padding-bottom: 3.05rem;
    }
}

.point__item-text{
    font-size: 1.4rem;
    font-weight: 400;
}
@media (min-width: 768px) {
    .point__item-text {
        font-size: 2.1rem;
        margin-left: 2rem;
        letter-spacing: .015rem;
    }
}

.point__point-two .point__item-text{
    letter-spacing: .01rem;
}
@media (min-width: 768px) {
    .point__point-two .point__item-text {
        padding-right: .4rem;
        line-height: 1.6;
    }
}

.point__item-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.1rem;
    width: 100%;
    margin-top: 1.25rem;
    padding-bottom: 1.5rem;
}
@media (min-width: 768px) {
    .point__item-bottom {
        margin-top: 2.4rem;
        gap: 4.1rem;
        padding-bottom: 3.7rem;
    }
}

.point__item-bottom-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.point__item-bottom-content-left,
.point__item-bottom-content-right {
    display: flex;
    align-items: center;
    justify-content: center;
    border: #666666 solid 0.1rem;
    height: 8.5rem;
    width: 14.3rem;
}

.point__item-bottom-content-left {
    border: #fa7da3 solid 0.1rem;
}

.point__item-bottom-content-right {
    font-size: 1.8rem;
    color: #433e3f;
    margin-right: .3rem;
    padding-left: .4rem;
    padding-bottom: .2rem;
    letter-spacing: .15rem;
}

.point__item-bottom-left-image {
    width: 7.2rem;
    height: 4rem;
    margin-left: .3rem;
}
@media (min-width: 768px) {
    .point__item-bottom-content-left,
    .point__item-bottom-content-right {
        border: #666666 solid 0.2rem;
        height: 13.7rem;
        width: 23.2rem;
    }
    .point__item-bottom-content-left {
        border: #fa7da3 solid 0.2rem;
    }
    .point__item-bottom-content-right  {
        font-size: 2.9rem;
        letter-spacing: .3px;
        padding: 0 0 .3rem 0;
    }


    .point__item-bottom-left-image {
        width: 11.5rem;
        height: 6.5rem;
        margin-left: .7rem;
    }
}

.point__item-bottom-text {
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 0;
    margin-top: .45rem;
}
@media (min-width: 768px) {
    .point__item-bottom-text {
        font-size: 2.1rem;
        margin-top: .9rem;
    }
}

.point__item-middle{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.point__item-middle-text,
.point__item-bottom2-text {
    font-size: 2.3rem;
    font-weight: 500;
    color:#4d2c1c;
    letter-spacing: .01rem;
    margin-top: 2rem;
}
@media (min-width: 768px) {
    .point__item-middle-text{
        padding-right: .1rem;
        margin-top: 2.2rem;
        letter-spacing: .11rem
    }
    .point__item-bottom2-text {
        margin-top: 3.6rem;
        letter-spacing: .1rem;
    }

}
.point__item-bottom2-text{
    margin-top: 3.4rem;
}

.point__item-middle-body-container{
    position: relative;
    background-image: url(/assets/image/body.png);
    background-position: center top;
    background-repeat: no-repeat;
    width: 35rem;
    height: 36rem;
    margin-top: 2.4rem;
}
@media (min-width: 768px) {
    .point__item-middle-body-container {
        background-size: 53.3rem;
        width: 74rem;
        height: 62rem;
        margin-top: 1.9rem;
    }
}

.point__item-middle-body-list1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -.4rem;
    padding-right: .4rem;
    font-size: 1.2rem;
    letter-spacing: .01rem;
}
.point__item-middle-body-armpits{
    margin-top: 1.9rem;
}
.point__item-middle-body-v-line{
    margin-top: 5.3rem;
}
.point__item-middle-body-knees{
    margin-top: 1.9rem;
}
@media (min-width: 768px) {
    .point__item-middle-body-list1 {
        margin-top: 1.7rem;
        padding-right: 6.4rem;
        font-size: 1.6rem;
    }
    .point__item-middle-body-armpits,
    .point__item-middle-body-belly-button{
        padding-left: .4rem;
    }
    .point__item-middle-body-hands{
        margin-top: 6.6rem;
        padding-left: 3.9rem;
    }
    .point__item-middle-body-v-line {
        margin-top: 5.7rem;
        padding-right: 2.4rem;
    }
    .point__item-middle-body-i-line {
        padding-right: 2.4rem;
    }
    .point__item-middle-body-knees {
        margin-top: 0;
        padding-right: 2.4rem;
    }
    .point__item-middle-body-feet {
        margin-top: 13.7rem;
        padding-right: 6.9rem;
    }
}

.point__item-middle-body-nape,
.point__item-middle-body-back,
.point__item-middle-body-hips,
.point__item-middle-body-o-line {
    position: absolute;
    font-size: 1.2rem;
    letter-spacing: .01rem;
}
.point__item-middle-body-nape{
    top: 3.9rem;
    right: 2.7rem;
}
.point__item-middle-body-back{
    top: 8.6rem;
    right: 2.4rem;
}
.point__item-middle-body-hips{
    top: 20.7rem;
    right: 2.2rem;
}
.point__item-middle-body-o-line{
    top: 22.5rem;
    right: 1.8rem;
}

@media (min-width: 768px) {
    .point__item-middle-body-nape,
    .point__item-middle-body-back,
    .point__item-middle-body-hips,
    .point__item-middle-body-o-line {
        font-size: 1.6rem;
    }
    .point__item-middle-body-nape {
        top: 7.2rem;
        right: 15.1rem;
    }
    .point__item-middle-body-back {
        top: 14.8rem;
        right: 11.9rem;
    }
    .point__item-middle-body-hips {
        top: 23.8rem;
        right: 8.3rem;
    }
    .point__item-middle-body-o-line {
        top: 26.2rem;
        right: 7.7rem;
    }
}


.point__item-bottom2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1.6rem;
}
@media (min-width: 768px) {
    .point__item-bottom2 {
        width: 100%;
        padding-bottom: 3.2rem;
    }

    .point__item-bottom2 .point__item-bottom-content {
        flex-direction: row;

    }
}

.point__item-bottom-content-top,
.point__item-bottom-content-bottom {
    display: flex;
    flex-direction: row;
    width: 32.8rem;
    gap: 1.2rem;
}
.point__item-bottom-content-top{
    margin-top: 2.6rem;
}
.point__item-bottom-content-bottom {
    margin-top: 1.65rem;
}
@media (min-width: 768px) {
    .point__item-bottom-content-top,
    .point__item-bottom-content-bottom {
        margin-top: 2.8rem;
        margin-right: .7rem;
        gap: 1.2rem;
    }
    .point__item-bottom-content-bottom{
        margin-right: 0;
    }
}

.point__item-bottom-content-list-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.point__item-bottom-content-text{
    margin-top: .4rem;
    font-size: 1.4rem;
    color: #fa7da3;
}


/* コース
--------------------------------------------------- */
.course {
    padding: 4.65rem 0 .9rem;
    margin-bottom: 1.15rem;
}
@media (min-width: 768px) {
    .course {
        padding: 3.1rem 0 5.9rem;
        margin-bottom: .2rem;
    }
}

.course__title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.course__sub-title {
    font-size: 1.8rem;
    padding-left: .65rem;
    font-weight: 500;
}
@media (min-width: 768px) {
    .course__sub-title {
        font-size: 2.4rem;
    }
}

.course__main-title {
    position: relative;
    font-size: 3.2rem;
    font-weight: 700;
    color: #fa7da3;
    margin-top: 1.2rem;
}

.course__main-title::before {
    position: absolute;
    content: url('/assets/image/Shape2918_1.png');
    left: -4.65rem;
    top: -.4rem;
}
.course__main-title::after {
    position: absolute;
    content: url('/assets/image/Shape2918_1.png');
    transform: scaleX(-1);
    right: -4.55rem;
    top: -.45rem;
}
@media (min-width: 768px) {
    .course__main-title {
        font-size: 4.2rem;
        margin-top: 1.7rem;
    }
    .course__main-title::before,
    .course__main-title:after {
        content: url('/assets/image/Shape2918_1_pc.png');
    }

    .course__main-title::before {
        left: -6.2rem;
        top: -.6rem;
    }
    .course__main-title::after {
        right: -6.4rem;
        top: -.6rem;
    }
}

.course__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.75rem 1.9rem 0 2.1rem;
}
@media (min-width: 768px) {
    .course__item {
        flex-direction: row;
        justify-content: center;
        gap: 3.1rem;
        margin-right: .1rem;
        padding-top: 2.8rem;
    }
}

.course__item-top,
.course__item-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #fa7da3 solid .1rem;
    border-radius: 1rem;
    overflow: hidden;
    width: 100%;
    max-width: 55rem;
    padding-bottom: 1.9rem;

}

.course__item-bottom {
    margin-top: 3.1rem;
}
@media (min-width: 768px) {
    .course__item-top,
    .course__item-bottom {
        width: 35rem;
        height: 36.4rem;
        padding-bottom: 2.4rem;
        margin-top: 1.55rem;
    }

    .course__item-bottom {
        margin-top: 1.5rem;
    }
}

.course__item-title{
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: 400;
    color: #fa7da3;
    background-color: #fdf0f5;
    align-items: center;
    width: 100%;
    padding-top: 1.2rem;
    padding-bottom: 1.1rem;
    letter-spacing: .05rem;
}
@media (min-width: 768px) {
    .course__item-title {
        font-size: 2.8rem;
        padding-top: 1.3rem;
        padding-bottom: 1.2rem;
    }
}

.course__item-text{
    font-size: 1.4rem;
    font-weight: 400;
    padding: 1.45rem 1.9rem 1.2rem;
    line-height: 1.5;
    letter-spacing: .01rem;
}
.course__item-bottom .course__item-text {
    padding-top: 1.4rem;
}
.course__br_pc {
    display: none;
}
@media (min-width: 768px) {
    .course__item-text {
        font-size: 1.8rem;
        padding: 1rem 1rem 1.25rem 2rem;
        line-height: 1.55;
    }
    .course__item-bottom .course__item-text {
        padding: 1rem .3rem 1.3rem 0;
    }
    .course__br_pc {
        display: block;
    }
}

/* Voice
--------------------------------------------------- */
.customer-voice{
    padding-top: 1.85rem;
    padding-bottom: .9rem;
    margin-right: .1rem;
    background-color: #fdf0f5;
}
@media (min-width: 768px) {
    .customer-voice {
        padding-top: 2.8rem;
    }

}

.customer-voice__title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.customer-voice__main-title {
    position: relative;
    font-size: 3.2rem;
    font-weight: 700;
    color: #fa7da3;
    margin-top: 1.2rem;
}

.customer-voice__main-title::before {
    position: absolute;
    content: url('/assets/image/Shape2918_1.png');
    left: -5.45rem;
    top: -.4rem;
}
.customer-voice__main-title::after {
    position: absolute;
    content: url('/assets/image/Shape2918_1.png');
    transform: scaleX(-1);
    right: -5.45rem;
    top: -.4rem;
}
@media (min-width: 768px) {
    .customer-voice__main-title {
        font-size: 4.2rem;
        margin-top: 1.7rem;
    }
    .customer-voice__main-title::before,
    .customer-voice__main-title:after {
        content: url('/assets/image/Shape2918_1_pc.png');
    }

    .customer-voice__main-title::before {
        left: -7.3rem;
        top: -.6rem;
    }
    .customer-voice__main-title::after {
        right: -7.5rem;
        top: -.6rem;
    }
}

.customer-voice__carousel-wrapper{
    margin-top: 2.4rem;
    padding: 0 3.7rem;
    overflow: hidden;
}
@media (min-width: 768px) {
    .customer-voice__carousel-wrapper {
        max-width: 104rem;
        margin-right: auto;
        margin-left: auto;
        margin-top: 4.05rem;
    }
}

.customer-voice__slide{
    border: #fa7da3 solid .1rem;
    border-radius: 1rem;
    overflow: hidden;
    width: 31rem;
    min-height: 18.8rem;
    background-color: #FFFFFF;
}

.customer-voice__slide--dummy{
    visibility: hidden;
}

.customer-voice__item-title{
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: 400;
    color: #ffffff;
    background-color: #fa7da3;
    width: 100%;
    padding: 1.1rem 0 1.2rem;
}

.customer-voice__content{
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    height: 100%;
}

.customer-voice__image{
    position: absolute;
    top: 1.3rem;
    left: 1.7rem;
    width: 8.6rem;
}
.customer-voice__slide:nth-child(2) .customer-voice__image {
    width: 7.7rem;
    left: 2.2rem;
}
.customer-voice__slide:nth-child(4) .customer-voice__image {
    width: 6.7rem;
    left: 2.7rem;
}

.customer-voice__text-container{
    padding-top: 1.8rem;
    padding-left: 11.9rem;
}

.customer-voice__data{
    font-size: 1.6rem;
    font-weight: 400;
    color: #fa7da3;
}

.customer-voice__text{
    font-size: 1.4rem;
    font-weight: 400;
    margin-top: .8rem;
    padding-right: .8rem;
    line-height: 1.5;
}
@media (min-width: 768px) {
    .customer-voice__slide:nth-child(2) .customer-voice__text{
        padding-right: 1rem;
    }
}

.customer-voice__carousel {
    overflow: visible;
    padding-bottom: 4.5rem;
    padding-left: .5rem;
    --swiper-pagination-bullet-horizontal-gap: .75rem;
}
@media (min-width: 768px) {
    .customer-voice__carousel {
        padding-bottom: 7.5rem;
    }
}

.customer-voice__carousel-pagination {
    padding-right: 0em;
}

@media (min-width: 768px) {
    .customer-voice__carousel-pagination {
        margin-bottom: 2.9rem;
    }
}

.customer-voice__carousel-pagination .swiper-pagination-bullet {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0  10px ;
    background: #ffd2d2;
    opacity: 1;
}

.customer-voice__carousel-pagination .swiper-pagination-bullet-active {
    background: #fa7da3;
}

.my-hidden-bullet {
    visibility: hidden;
}

/* フッター
--------------------------------------------------- */
.footer {
    background-color: #fa7da3;
    height: 6.4rem;
    display: flex;
    justify-content: center;
    margin-top: 4.2rem;
}

.footer__logo {
    width: 7.2rem;
    height: 5.3rem;
    padding-top: 1.4rem;
}

@media (min-width: 768px) {
    .footer {
        height: 12.8rem;
    }
    .footer__logo {
        width: 14.5rem;
        height: 7.9rem;
        padding-top: 2.7rem;
        padding-left: .2rem;
    }
}